In [5]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [8]:
# Data for the first table
data1 = {
    'area_name': ['COMBINED', 'COMBINED', 'COMBINED', 'Chat', 'Chat', 
                  'Client Banking Services', 'Client Banking Services', 'Core Service', 
                  'Core Service', 'High Net Worth', 'New Client Service', 'Tier 2 Support', 
                  'Tier 2 Support', 'Trader Service', 'Trader Service'],
    'tenured': ['COMBINED', 'No', 'Yes', 'No', 'Yes', 
                'No', 'Yes', 'No', 'Yes', 'Yes', 
                'Yes', 'No', 'Yes', 'No', 'Yes'],
    'head_count': [2467, 626, 1841, 4, 209, 
                   44, 173, 564, 764, 241, 
                   70, 5, 58, 9, 326],
    'aht_home': [681.6509, 745.7754, 671.5868, 875.4763, 708.9451, 
                 679.5793, 580.2133, 752.8265, 660.2968, 697.7772, 
                 663.4977, 830.5320, 613.6873, 849.4153, 744.5157],
    'aht_office': [667.6252, 741.3849, 656.6748, 919.4229, 698.7224, 
                   663.7403, 562.7403, 749.6582, 649.1405, 677.7237, 
                   647.9113, 831.5013, 611.4168, 806.2084, 724.2392]
}

# Data for the second table
data2 = {
    'delta': [14.0257, 4.3905, 14.9120, -43.9466, 10.2227, 
              15.8390, 17.4730, 3.1683, 11.1563, 20.8535, 
              15.5864, -0.9693, -2.2785, 43.2069, 20.2765],
    'observations_home': [75507, 11954, 63581, 96, 3699, 
                          1238, 6118, 10349, 27027, 9919, 
                          3108, 33, 1515, 261, 12314],
    'observations_office': [113021, 17568, 95461, 113, 5446, 
                            872, 9752, 15238, 40922, 14721, 
                            4627, 9, 2287, 406, 18148]
}

# Combine both datasets into a single DataFrame
aht_df = pd.DataFrame({**data1, **data2})

# Display the combined DataFrame
print(aht_df)

                  area_name   tenured  head_count  aht_home  aht_office  \
0                  COMBINED  COMBINED        2467  681.6509    667.6252
1                  COMBINED        No         626  745.7754    741.3849
2                  COMBINED       Yes        1841  671.5868    656.6748
3                      Chat        No           4  875.4763    919.4229
4                      Chat       Yes         209  708.9451    698.7224
5   Client Banking Services        No          44  679.5793    663.7403
6   Client Banking Services       Yes         173  580.2133    562.7403
7              Core Service        No         564  752.8265    749.6582
8              Core Service       Yes         764  660.2968    649.1405
9            High Net Worth       Yes         241  697.7772    677.7237
10       New Client Service       Yes          70  663.4977    647.9113
11           Tier 2 Support        No           5  830.5320    831.5013
12           Tier 2 Support       Yes          58  613.6873    611.4168
13           Trader Service        No           9  849.4153    806.2084
14           Trader Service       Yes         326  744.5157    724.2392

      delta  observations_home  observations_office
0   14.0257              75507               113021
1    4.3905              11954                17568
2   14.9120              63581                95461
3  -43.9466                 96                  113
4   10.2227               3699                 5446
5   15.8390               1238                  872
6   17.4730               6118                 9752
7    3.1683              10349                15238
8   11.1563              27027                40922
9   20.8535               9919                14721
10  15.5864               3108                 4627
11  -0.9693                 33                    9
12  -2.2785               1515                 2287
13  43.2069                261                  406
14  20.2765              12314                18148

In [9]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

# Initialize lists to store results
t_values = []
p_values = []
effect_sizes = []

# Loop through each row in the DataFrame and perform the t-test
for index, row in aht_df.iterrows():
    # Generate random samples based on the given AHT and sample size
    np.random.seed(0)  # For reproducibility
    sample_home = np.random.normal(row['aht_home'], row['aht_home']/np.sqrt(row['observations_home']), int(row['observations_home']))
    sample_office = np.random.normal(row['aht_office'], row['aht_office']/np.sqrt(row['observations_office']), int(row['observations_office']))
    
    # Perform t-test
    t_stat, p_val = ttest_ind(sample_home, sample_office, equal_var=False)
    
    # Calculate Cohen's d
    pooled_std = np.sqrt(((len(sample_home) - 1) * np.std(sample_home, ddof=1) ** 2 + 
                          (len(sample_office) - 1) * np.std(sample_office, ddof=1) ** 2) / 
                         (len(sample_home) + len(sample_office) - 2))
    cohen_d = (np.mean(sample_home) - np.mean(sample_office)) / pooled_std
    
    # Interpret Cohen's d
    if abs(cohen_d) < 0.2:
        effect_size = "Small"
    elif abs(cohen_d) < 0.5:
        effect_size = "Medium"
    else:
        effect_size = "Large"
    
    # Store results
    t_values.append(t_stat)
    p_values.append(p_val)
    effect_sizes.append(effect_size)

# Add results to the DataFrame
aht_df['t_value'] = t_values
aht_df['p_value'] = np.round(p_values, 5)
aht_df['cohen_d'] = np.round(cohen_d, 5)
aht_df['effect_size'] = effect_sizes

# Display the updated DataFrame
print(aht_df)

                  area_name   tenured  head_count  aht_home  aht_office  \
0                  COMBINED  COMBINED        2467  681.6509    667.6252
1                  COMBINED        No         626  745.7754    741.3849
2                  COMBINED       Yes        1841  671.5868    656.6748
3                      Chat        No           4  875.4763    919.4229
4                      Chat       Yes         209  708.9451    698.7224
5   Client Banking Services        No          44  679.5793    663.7403
6   Client Banking Services       Yes         173  580.2133    562.7403
7              Core Service        No         564  752.8265    749.6582
8              Core Service       Yes         764  660.2968    649.1405
9            High Net Worth       Yes         241  697.7772    677.7237
10       New Client Service       Yes          70  663.4977    647.9113
11           Tier 2 Support        No           5  830.5320    831.5013
12           Tier 2 Support       Yes          58  613.6873    611.4168
13           Trader Service        No           9  849.4153    806.2084
14           Trader Service       Yes         326  744.5157    724.2392

      delta  observations_home  observations_office      t_value  p_value  \
0   14.0257              75507               113021  1301.559058  0.00000
1    4.3905              11954                17568    57.226894  0.00000
2   14.9120              63581                95461  1184.225658  0.00000
3  -43.9466                 96                  113    -3.890393  0.00014
4   10.2227               3699                 5446    44.385536  0.00000
5   15.8390               1238                  872    16.764153  0.00000
6   17.4730               6118                 9752   158.784175  0.00000
7    3.1683              10349                15238    34.591457  0.00000
8   11.1563              27027                40922   385.453680  0.00000
9   20.8535               9919                14721   238.745575  0.00000
10  15.5864               3108                 4627    60.857822  0.00000
11  -0.9693                 33                    9     1.393554  0.19624
12  -2.2785               1515                 2287     4.804594  0.00000
13  43.2069                261                  406    12.943333  0.00000
14  20.2765              12314                18148   280.063323  0.00000

    cohen_d effect_size
0   3.40837       Large
1   3.40837       Large
2   3.40837       Large
3   3.40837       Large
4   3.40837       Large
5   3.40837       Large
6   3.40837       Large
7   3.40837      Medium
8   3.40837       Large
9   3.40837       Large
10  3.40837       Large
11  3.40837       Large
12  3.40837       Small
13  3.40837       Large
14  3.40837       Large